default: &default
  secret_key_base: 44cab436d7a81aaaeb84960ffb89b4b34ce3d28541c4154f88feebd9f076c89ab2fc8ded6e38bf4eb9748526d0f0d75fc6481cbe1c1cfac22a7db6dc3b783ced

development:
  <<: *default
 
test:
  <<: *default

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>