<div id="modal1" class="modal">
  <div class="modal-content">
    <h1 class="title center-align">Excluir Campanha</h1>
    <p class="center-align body">Tem certeza que deseja Excluir a campanha <span class="red-text accent-4"><%= @campaign.title %></span>?</p>
  </div>
  <div class="modal-footer">
    <div class="center-align">
      <a href="#!" class="modal-close waves-effect waves-light btn green confirm_remove_campaign confirm_link">Sim</a>
      <a href="#!" class="modal-close waves-effect waves-light btn red confirm_link">Não</a>
    </div>
  </div>
</div>